#status {
    $size: 60px;
    display: flex;
    justify-items: start;
    span {
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    img {
        width: $size;
        height: auto;
        &.hidden { display: none; }
    }
}
#info {
    margin-top: 1.5em;
    th {
        text-align: left;
        padding-right: 1em;
    }
}


