body {
    font-family: sans-serif;
}

#lorem {
    margin: 1em;
    padding: .5em;
    border: 1px solid #555;
    box-shadow: 2px 2px 5px #ccc;;
}

.buttons {
    text-align: center;
    * + * {
        margin-left: 1em;
    }
}

pre {
    white-space: normal;
}

